.logo {
  text-align: center;
  margin-bottom: 16px;
}

.btn-disconnect {
  width: 138px;
  height: 39px;

  background: rgba(51, 122, 162, 0.5);
  border-radius: 25px;
  border: none;
}

.btn-disconnect:hover {
  background: rgba(73, 152, 197, 0.5);
}
